.clear {
	clear: both;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #2ea56c;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(-11deg);
    -ms-transform:rotate(-11deg); /* IE 9 */
    -webkit-transform:rotate(-11deg); /* Opera, Chrome, and Safari */
}

.slogan {
	/* Trebuchet-based sans serif stack */
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-style: italic;
	padding-top: 26px;

}

.links {
	padding-top: 26px;
    font-family: 'quicksandregular', sans-serif;
    font-weight: bold;

}

.links a {
	color: black;
	font-size: 25px;
	border-bottom: 1px solid #dfdfdf;
}

header {
	border-top: 9px solid #222222;
}

hr {
	clear: both;
}

h1 {
  font-family: 'quicksandregular', sans-serif;
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-family: 'quicksandregular', sans-serif;
}

.next-quote {
    color: #f84342;
    font-family: 'quicksandregular', sans-serif;
    font-size: 20px;
}

.footer-blurb {
    /* Trebuchet-based sans serif stack */
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    font-style: italic;
    text-align: right;
    font-size: 10px;
}

.logo:hover {
    text-decoration: none;
}

.about {
    /* Trebuchet-based sans serif stack */
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;

}
